.thumbnail {
  max-width: 100%;
}
#search{
margin-top:25px;
}
#searchField{
 width: 80%;
 height: 40px;
 fontSize: 20px;
 textAlign: center;
 margin: 0 auto;
 }
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}